html {
  overflow-x: hidden;
  font-size: 0.8vw;
}

body {
  margin: 0; /* No borders around page */
  font-family: Eina, sans-serif;

  /* Defined three commonly used colors on this page */
  --web-blue: #03528B;
  --web-orange: #D65A17;
  --web-gray: rgb(210, 205, 205);
}

/* Flexible header image in background, always cover whole screen as header */
header {
  width: 100vw;
  height: 100vh;
  background-image: url(https://assets.weforum.org/project/image/iDTsfGXFjl9zlU6Ne8-6a7ZZepK_EzBHYeOnSfqvcYA.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navigation bar, always fixed on top of screen */
#nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4vw;
  background-color: rgba(210, 205, 205, 0.92);
}

/* Logo wrap, opacity added to match nav bar opacity of rgba */
#header-img-box {
  margin-left: 6vw;
  width: 20%;
  padding: 0.2vw 0.2vw 0.6vw 0.2vw;
  opacity: 0.46;
}

/* Circular logo with orange border animation on hover, solid "stock" border added because otherwise annimation adding new one and it's glitching */
#header-img {
  height: 100%;
  width: auto;
  border-radius: 100vw;
  border: solid;
  border-color: rgba(210, 205, 205, 0.92);
  transition-property: border;
  transition-duration: 650ms;
}

#header-img:hover {
  border: solid;
  border-color: var(--web-orange);
}

/* Classic top navigation bar list, reverse flex used to align links from right side */
#nav-bar ul {
  width: 80%;
  list-style: none;
  margin-right: 2vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

#nav-bar li {
  margin-right: 4.4vw;
  align-self: center;
}

/* All links on web with orange animation on hover */
a {
  transition-property: color;
  transition-duration: 650ms;
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

a:hover {
  color: var(--web-orange);
}

/* Header text wrap positioned on free space on background picture */
#header-text {
  position: relative;
  top: 12vw;
  left: 12vw;
}

h1 {
  font-size: 2.9rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #F9F0F0;
  margin-top: 0;
}

#header-text p {
  font-size: 1.6rem;
  font-family: Eina, sans-serif;
  font-weight: inherit;
  font-style: italic;
  color: #F9F0F0;
}

/* Wrap for "quality" part of page */
#quality {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4vw;
  margin-bottom: 4vw;
  font-size: 1.4rem;
}

/* Box for each "quality point" */
.q-box {
  display: flex;
  width: 50vw;
  height: 8vw;
  justify-content: center;
  margin: 0.6vw 0 0.6vw 0;
}

.q-imgbox {
  width: 20%;
  overflow: hidden;
}

.q-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100vw;
}

.q-text {
  width: 75%;
  margin-left: 4vw;
  display: flex;
  align-items: center;
}

/* Centering image of car, because it has different layout */
#car {
  height: 160%;
  width: 160%;
  margin: -2.5vw 0 0 -2.9vw;
}

/* Wrap for youtube video */
#video-box {
  display: flex;
  margin-bottom: 4vw;
}

/* Adding smooth edges to youtube video iframe */
#video {
  margin: auto;
  border-radius: 1vw;
  box-shadow: 0.2vw 0.2vw 0.6vw 0.2vw var(--web-gray);
}

/* Important setting of video iframe ratio and size */
iframe {
  width: 60vw;
  height: calc(60vw / 1.77);
  align-self: center;
  border: 0;
}

/* Wrap of "products" part of page */
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
}

/* Invidual product boxes, width and margin set to align 3 boxes in row */
.product-box {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1.2vw 1.8vw 1.8vw 1.8vw;
}

.product-imgbox {
  width: 100%;
  height: 12vw;
  border: 0.16vw solid;
  border-color: var(--web-blue);
  border-radius: 1vw;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1vw;
}

.product-label {
  margin-top: 0.4vw;
  margin-bottom: 0;
  height: 3vw;
  text-align: center;
}

.product-box ul {
  list-style: none;
  font-size: 1.05rem;
  padding-left: 0;
}

/* Replacing dot with check symbol */
.product-box ul li::before {
  content: '✓';
  font-size: 1.4rem;
  padding-right: 0.4vw;
}

/* Price row, *important* margin-top set to auto to align flex row to down */
.product-price {
  text-align: center;
  font-weight: bold;
  margin-top: auto;
}

/* Wrap of button under product part */
#button-box {
  margin-bottom: 4vw;
}

/* Button blue design, with animation to transfer to orange when hover */
button {
  color: var(--web-blue);
  background-color: white;
  border-color: var(--web-blue);
  border-radius: 0.15vw;
  font-size: 1rem;
  padding: 1vw 1.4vw 1vw 1.4vw;
  transition: color 650ms, border 650ms;
}

button:hover {
  cursor: pointer;
  color: var(--web-orange);
  border-color: var(--web-orange);
}

button:active {
  transition: none;
  background-color: var(--web-gray);
}

/* Aligning of button under product part to center */
#products-button {
  display: block;
  margin: auto;
}

/* Wrap of "environment" part of page */
#environment {
  display: flex;
  flex-direction: column;
  margin-bottom: 4vw;
}

/* Box for each "environment point", all parts not strictly needed, can be replaced by .product-box and so on */
.enviro-box {
  display: flex;
  width: 50vw;
  height: 8vw;
  margin: 0.7vw 0 0.7vw 0;
  align-self: center;
  justify-content: space-evenly;
  font-size: 1.4rem;
}

.enviro-imgbox {
  width: 20%;
}

.enviro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 100vw;
}

.enviro-text {
  width: 75%;
  margin-left: 4vw;
  display: flex;
  align-items: center;
}

/* Wrap for offer part of page */
#offer {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-bottom: 4vw;
}

#offer p {
  font-size: 1.2rem;
}

/* Wrap box for form + button, column-gap adde for prettier gap between input and button */
#form {
  display: flex;
  width: 60vw;
  column-gap: 1.4vw;
  justify-content: center;
  align-self: center;
}

/* Enlarging font, smoothing edges to have more fittng look and to be easy clickable and readeble. */
input {
  font-size: 1.1rem;
  padding-left: 0.4vw;
  border-radius: 0.2vw;
}

/* Changing button style for more fitting dimensions next to input */
#offer button {
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
}

/* Wrap for about part of page */
#about {
  width: 65vw;
  margin: auto;
  margin-bottom: 4vw;
}

#about p {
  line-height: 1.4rem;
  font-size: 1rem;
}

/* Removing list dot style list, to be more fitting in design */
#about li {
  list-style: none;
  margin-bottom: 0.6vw;
  font-size: 1rem;
}

/* Footer wrap */
footer {
  background-color: var(--web-blue);
  padding: 3.5vw 15vw 3vw 15vw;
  color: rgb(210, 205, 205);
  overflow: hidden;
}

/* Wrap for navigation part of footer */
#footer-nav {
  display: flex;
  padding-bottom: 1.6vw;
}

/* Wrap for each of columns in navigation part of the footer. Margin added to match all for columns in one raw with good layout over all width */
.footer-nav-col {
  margin-right: 9vw;
}

.footer-nav-header {
  font-weight: bold;
}

/* Left padding disabled for better look and uniform column */
.footer-nav-col ul {
  padding-left: 0;
}

.footer-nav-col li {
  list-style: none;
  margin-bottom: 0.4vw;
}

.footer-nav-col a {
  font-size: 0.9rem;
}

/* Orange artificial horizontal rule */
.footer-hr {
  border-bottom: solid;
  border-width: 0.15vw;
  border-color: var(--web-orange);
  border-radius: 0.7vw;
}

/* Complete design rebuild for tablets and smartphones */
@media (max-width: 768px) {
  html {
    font-size: 1vw;
  }

  header {
    max-height: 70vw;
  }

  #nav-bar {
    height: 9vw;
  }

  #header-img-box {
    width: 10%;
    margin-top: 0.7vw;
    margin-bottom: 1vw;
  }

  #nav-bar ul {
    width: 90%;
  }

  .nav-link {
    font-size: 2.7vw;
  }

  #header-text {
    top: 18vw;
    left: 8vw;
  }

  #header-text p {
    font-size: 2.4rem;
  }

  h1 {
    font-size: 4rem;
  }

  #quality {
    font-size: 2.6vw;
  }

  .q-box {
    width: 95vw;
    height: 16vw;
  }

  #car {
    margin-left: -5vw;
  }

  #video {
    box-shadow: 0;
  }

  iframe {
    width: 85vw;
    height: calc(80vw / 1.77);
  }

  #products {
    width: 85%;
    justify-content: space-between;
  }

  .product-box {
    width: 40%;
  }

  .product-imgbox {
    height: 32vw;
  }

  .product-label {
    height: 8vw;
    font-size: 3.2vw;
  }

  .product-box ul li {
    font-size: 2.8rem;
  }

  .product-box ul li::before {
    font-size: 2.8rem;
  }

  .product-price {
    font-size: 2.8rem;
  }

  button {
    font-size: 3rem;
    padding: 3vw 4.2vw 3vw 4.2vw;
  }

  .enviro-box {
    width: 85vw;
    height: 16vw;
  }

  .enviro-text {
    font-size: 2.6vw;
  }

  #offer {
    width: 80%;
  }

  #offer p {
    font-size: 2.6rem;
    margin-bottom: 4vw;
  }

  #form {
    flex-direction: column;
    width: 95vw;
  }

  input {
    position: relative;
    margin: auto;
    margin-bottom: 3vw;
    display: block;
    font-size: 2.6rem;
    width: 60vw;
    padding: auto;
    border-radius: 0.2vw;
    text-align: center;
  }

  #offer button {
    position: relative;
    margin: auto;
    display: block;
    padding: 2.4vw 4.2vw 2.4vw 4.2vw;
    width: 24vw;
  }

  #about {
    width: 85vw;
    margin-bottom: 8vw;
  }

  #about h2 {
    font-size: 2.2rem;
  }

  #about p {
    font-size: 1.8rem;
    line-height: normal;
    margin-bottom: 2vw;
  }

  #about ul {
    padding-left: 4vw;
    line-height: 3.2vw;
  }

  #about li {
    list-style: none;
    margin-bottom: 0.6vw;
    font-size: 1.8rem;
  }

  footer {
    background-color: var(--web-blue);
    padding: 3.5vw 10vw 3vw 10vw;
    color: rgb(210, 205, 205);
    font-size: 1.6rem;
    overflow: hidden;
  }

  #footer-nav {
    flex-wrap: wrap;
    padding-bottom: 1.6vw;
    justify-content: space-around;
  }

  .footer-nav-col {
    width: 40%;
    margin-right: 0;
  }

  .footer-nav-header {
    font-size: 1.7rem;
  }

  .footer-nav-col li {
    margin-bottom: 0.4vw;
  }

  .footer-nav-col a {
    font-size: 1.6rem;
  }

  #declaration,
  #sign {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  header {
    max-height: 70vw;
  }

  #nav-bar {
    height: 9vw;
  }

  h1 {
    font-size: 4rem;
  }

  iframe {
    width: 95vw;
    height: calc(95vw / 1.77);
  }

  #form {
    flex-direction: column;
    width: 95vw;
  }

  #about h2 {
    font-size: 2.5rem;
  }

  #about p {
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 2.2vw;
  }

  #about li {
    font-size: 2rem;
  }

  footer {
    background-color: var(--web-blue);
    padding: 3.5vw 10vw 3vw 10vw;
    color: rgb(210, 205, 205);
    font-size: 2rem;
    overflow: hidden;
  }

  #footer-nav {
    padding-bottom: 2vw;
  }

  .footer-nav-header {
    font-size: 2.1rem;
  }

  .footer-nav-col a {
    font-size: 2rem;
  }

  #declaration,
  #sign {
    font-size: 2rem;
  }
}
